extends layout

block content
  h1 Vota-Empresas        
  h2 Alumnos
   a(href='/votacion' )
    ul
      li Votar a las empresas
    a(href='/RegistroAlumno' )
      ul  
        li Registrar
  h2 Empresas
    a(href='/inscribirEmpresa' )
      ul
        li Inscribir
    a(href='/mostrarclasificacion' ) 
      ul     
        li Mostrar Clasificación
  footer
    p Autor: Ángel Valera Motos
